
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: dimgray;
}

#pokedex {
    display: block;
    margin: auto;
    width: 600px;
    height: 900px;
}

/* Mobile Screen Sizes */
@media only screen and (max-width: 625px) {
    #pokedex {
        width: 400px;
        height: 600px;
    }
}
