
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Silkscreen', sans-serif;
}

body {
    background-color: dimgray;
}

/* Styles for Pokedex div */
#pokedex{
    position: relative;
    display: block;
    width: 600px;
    margin: auto;
}

/* Styles for img elements in Pokedex div*/
#pokedex img {
    width: 600px;
    height: 900px;
}

/* Styles for Pokedex Screen div*/
#pokedex_screen {
    position: absolute;
    top: 205px;
    left: 105px;
    height: 270px;
    width: 390px;
    color: rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0);
}

/* Styles for Pokemon List div*/
#pokelist {
    height: 270px;
    width: 390px;
    overflow-y: auto;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Styles for ul element in Pokemon List div*/
#pokelist ul{
    list-style: none;
    font-size: large;
}

/* Styles for li elements in Pokemon List div*/
#pokelist li {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
}

/* Styles for small pokemon gif in Pokemon List */
#pokelist li .pokemon-gif {
    position: absolute;
    object-fit: scale-down;
    height: 100px;
    width: 100px;
}

/* Styles for span in Pokemon List */
#pokelist li .pokemon-name {
    margin-left: 100px;
}

/* Styles for when mouse hover over span in Pokemon List */
#pokelist li:hover {
    color: rgba(34,144,164,0.8);
}

/* Styles for Pokemon Info div */
#pokemon-info {
    display: none;
    position: relative;
    height: 270px;
    width: 390px;
}

/* Styles for large Pokemon gif in Pokemon Info div */
#pokemon-info img {
    position: absolute;
    top: 50px;
    left: 200px;
    object-fit: scale-down;
    height: 175px;
    width: 175px;
}

/* Styles for h2 tag in Pokemon Info div */
#pokemon-info h2 {
    position: absolute;
    top: 0;
    left: 50px;
    font-weight: normal;
    font-size: 20px;
}

/* Styles for pokeType p tags in Pokemon Info div */
#pokemon-info #pokeTypes {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 75px;
}

/* Styles for Pokemon Cry button in Pokemon Info div */
#pokemon-info #pokemon-cry {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 22px;
    left: 22px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

/* Styles for Pokemon Weight p in Pokemon Info div */
#pokemon-info #weight {
    position: absolute;
    top: 125px;
    left: 25px;
}

/* Styles for Pokemon Height p in Pokemon Info div */
#pokemon-info #height {
    position: absolute;
    top: 150px;
    left: 25px;
}

/* Styles for back button in Pokemon Info div */
#pokemon-info #backButton {
    position: absolute;
    top: 225px;
    left: 25px;
    background-color: rgba(0,0,0,0.6);
    color: rgba(255,255,255,0.75);
}

/* Styles for Mobile Devices */
@media only screen and (max-width: 625px) {
    /* Mobile Styles for Pokedex div */
    #pokedex {
        width: 400px;
    }

    /* Mobile Styles for image in Pokedex div */
    #pokedex img{
        width: 400px;
        height: 600px;
    }

    /* Mobile Styles for Pokedex Screen div */
    #pokedex_screen {
        top: 137px;
        left: 70px;
        height: 178px;
        width: 260px;
    }

    /* Mobile Styles for Pokemon List div */
    #pokelist {
        height: 178px;
        width: 260px;
        overflow-y: auto;
    }

    /* Mobile Styles for ul element in Pokemon List div */
    #pokelist ul{
        font-size: small;
    }

    /* Mobile Styles for li elements in Pokemon List div */
    #pokelist li {
        height: 50px;
    }

    /* Mobile Styles for small Pokemon gif images in Pokemon List */
    #pokelist li .pokemon-gif {
        height: 40px;
        width: 40px;
    }

    /* Mobile Styles for span elements in Pokemon List */
    #pokelist li .pokemon-name {
        margin-left: 60px;
    }

    /* Mobile Styles for Pokemon Info div */
    #pokemon-info {
        height: 178px;
        width: 260px;
    }

    /* Mobile Styles for large Pokemon gif in Pokemon Info div */
    #pokemon-info img {
        top: 20px;
        left: 125px;
        object-fit: scale-down;
        height: 125px;
        width: 125px;
    }

    /* Mobile Styles for h2 element in Pokemon Info div */
    #pokemon-info h2 {
        font-size: 17px;
    }

    /* Mobile Styles for Pokemon Cry button in Pokemon Info div */
    #pokemon-info #pokemon-cry {
        top: 17px;
        left: 17px;
    }

    /* Mobile Styles for Pokemon types in Pokemon Info div */
    #pokemon-info #pokeTypes {
        top: 25px;
        left: 15px;
        width: 75px;
        font-size: 14px;
    }

    /* Mobile Styles for Weight info in p tag in Pokemon Info div */
    #pokemon-info #weight {
        top: 110px;
        left: 15px;
        font-size: 14px;
    }

    /* Mobile Styles for Height info in p tag in Pokemon Info div */
    #pokemon-info #height {
        position: absolute;
        top: 125px;
        left: 15px;
        font-size: 14px;
    }

    /* Mobile Styles for back button in Pokemon Info div */
    #pokemon-info #backButton {
        top: 158px;
        left: 15px;
        height: 20px;
        font-size: 10px;
    }

}
